* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font: 16px/24px "Hiragino Kaku", Osaka, 'MS PGothic', Georgia;
  background: #eee;
  color: #444; }

header, footer {
  padding: 4rem 0 2rem 0;
  background: #eee;
  text-align: center; }

footer {
  padding-bottom: 4rem; }

main {
  padding: 2rem 0;
  background: #000; }

header figure {
  display: block;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem; }

nav {
  display: block;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center; }

a {
  color: #272727;
  text-decoration: none; }

header nav a {
  padding-bottom: .6rem; }

header a:hover {
  color: #f03;
  outline: 1px solid #f03; }

main a {
  color: #f03;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

nav a {
  padding: .5rem 2rem; }

main p, main h2, main h3, main img, main figure, main div {
  margin: 0;
  max-width: 40rem;
  margin: 0 auto;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

div.created_by {
  text-align: left;
  padding: 1rem 0rem 2rem 0rem;
  color: #aaa; }

article div.created_by {
  padding-top: 2rem; }

article {
  padding: 2rem 0;
  max-width: 40rem;
  margin: 0 auto; }

article * + * {
  padding-top: 2rem; }

article hr {
  border: 0;
  border-top: 1px solid #333;
  margin-top: 2rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0rem;
  height: 0; }

article pre {
  margin: 0; }

main article * + h2 {
  padding-top: 2rem; }

article blockquote {
  padding: 1rem;
  margin: 0;
  margin-top: 2rem;
  border-left: 2rem solid #272727;
  outline: 1px solid #272727; }

article iframe {
  width: 100%; }

h1 {
  padding: 4rem 2rem;
  margin: 0;
  background: url("/gfx/title.png") #272727;
  color: #ccc;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  line-height: 2rem;
  text-shadow: 1px 1px #000; }

h2 {
  color: #444;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0;
  margin: 0; }

p {
  font-size: 1rem; }

p + p {
  padding-top: 2rem; }

figure a {
  height: 5.5rem;
  width: 8rem;
  padding: 1rem 0;
  display: block;
  margin: 0 auto; }

svg {
  height: 4rem;
  margin-left: -1px;
  margin-top: -3px; }

svg #top {
  fill: rgba(0, 0, 0, 0.2); }

svg #left {
  fill: rgba(0, 0, 0, 0.35); }

svg #right {
  fill: rgba(0, 0, 0, 0.45); }

figure a:hover svg #top {
  fill: rgba(255, 0, 30, 0.2); }

figure a:hover svg #left {
  fill: rgba(255, 0, 30, 0.45); }

figure a:hover svg #right {
  fill: rgba(255, 0, 30, 0.55); }

.post-block {
  outline: 1px solid #333;
  display: block;
  padding: 0 2rem; }

.post-block + .post-block {
  margin-top: 2rem; }

.post-block p {
  padding-top: 1rem; }

.post-block h2 {
  padding-top: 2rem; }

.post-block:hover {
  background: #0a0a0a;
  cursor: pointer;
  outline-color: #f03; }

h1 a {
  color: #f03;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative; }

h1 a.disabled {
  color: #666; }

article img {
  display: block;
  max-width: 40rem;
  height: auto;
  margin: 2rem auto 0 auto; }

article div.created_by {
  padding-bottom: 0; }

::-moz-selection {
  color: #fff;
  background: #f05; }

::selection {
  color: #fff;
  background: #f05; }

label + label {
  padding-left: 0.5rem; }

input + label {
  background: #000; }

article ul {
  margin: 0; }

article ul li + li {
  padding-top: 0rem; }

article ul li {
  list-style: square; }

article a img {
  outline: 1px solid #f03; }

article a img:hover {
  outline-width: 2px; }

article pre {
  padding: 1rem;
  margin-top: 2rem;
  color: #ccc;
  background: url("/gfx/title.png") #272727;
  line-height: 2rem;
  text-shadow: 1px 1px #000;
  font: 16px/24px "Hiragino Kaku", Osaka, 'MS PGothic', Georgia;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

@media (max-width: 40rem) {
  nav a {
    display: block;
    text-align: center;
    padding: 0.25rem 0; }
  main p, main h2, main h3, main img, main figure, main div {
    margin: 0;
    max-width: 40rem;
    margin: 0 auto; }
  div.created_by {
    text-align: left;
    padding: 0rem;
    padding-bottom: 2rem;
    color: #aaa; }
  article img {
    width: 100%; } }

/*# sourceMappingURL=app.css.map */
