// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$width: 40rem;

*{
	box-sizing:border-box;
	user-select:none;
	// outline:1px solid rgba(255,0,85,0.2);
}

body{
	position:relative;
	display:block;
	margin:0;
	padding:0;
	font:16px/24px "Hiragino Kaku", Osaka, 'MS PGothic', Georgia;
	background:#000;
	color:#444;
}

header, footer{
	padding:4rem 0 2rem 0;
	background:#eee;
	text-align:center;
}
footer{
	padding-bottom:4rem;
}
main{
	padding-bottom:2rem;
	background:#000;
}

header figure{
	display:block;
	max-width:$width;
	margin:0 auto;
	text-align:center;
	padding-bottom:1rem;
}
nav{
	display:block;
	max-width:$width;
	margin:0 auto;
	text-align:center;
}
a{
	color:#272727;
	text-decoration:none;
}
header nav a{
	padding-bottom:.6rem;
}
header a:hover{
	color:#f03;
	// background:#fff;
	outline:1px solid #f03;
}
main a{
	color:#f03;
	user-select:initial;
}
nav a{
	padding:.5rem 2rem;
}
main p,main h2,main h3,main img,main figure, main div{
	padding:0 2rem;
	margin:0;
	max-width:$width;
	margin:0 auto;
	user-select:initial;
}

div.created_by{
	text-align:left;
	padding:1rem 2rem 2rem 2rem;
	color:#aaa
}
article div.created_by{
	padding-top:3rem;
}

h1{
	padding:4rem 2rem;
	margin:0;
	background:url('/gfx/title.png') #272727;
	color:#fff;
	font-size:1.4rem;
	font-weight:400;
	text-align:center;
	line-height:2rem;
	text-shadow:1px 1px #000;
}

h1+article{
	padding-top:2rem;
}

p{
	font-size:1rem;
}

p+p{
	padding-top:2rem;
}
figure a{
	height:5.5rem;
	width:8rem;
	padding:1rem 0;
	display:block;
	margin:0 auto
}
svg{
	height:4rem;
	margin-left:-1px;
	margin-top:-3px;
}
svg #top{
	fill:rgba(0,0,0,0.2);
}
svg #left{
	fill:rgba(0,0,0,0.35);
}
svg #right{
	fill:rgba(0,0,0,0.45);
}
figure a:hover svg #top{
	fill:rgba(255,0,30,0.2);
}
figure a:hover svg #left{
	fill:rgba(255,0,30,0.45);
}
figure a:hover svg #right{
	fill:rgba(255,0,30,0.55);
}
.post-block{
	outline:1px solid #333;
	display:block;
	margin-top:2rem;
}

.post-block p{
	padding-top:2rem;
}

.post-block:hover{
	background:#0a0a0a;
	cursor:pointer;
	outline-color:#f03;
}

h1 a{
	color:#f03;
	padding-left:1rem;
	padding-right:1rem;
	position:relative;
}
h1 a.disabled{
	color:#666;
}

::selection{
	color:#fff;
	background:#f05;
}
@media(max-width:480px) {
	nav a{
		display:block;
		text-align:center;
		padding:0.25rem 0;
	}
	main p,main h2,main h3,main img,main figure, main div{
		padding:0 1rem;
		margin:0;
		max-width:$width;
		margin:0 auto;
	}
	div.created_by{
		text-align:left;
		padding:1rem;
		padding-bottom:2rem;
		color:#aaa
	}
}
